SUPABASE_URL=https://pacqqgoggfwmeoaqxfum.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhY3FxZ29nZ2Z3bWVvYXF4ZnVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4NDExNjgsImV4cCI6MjA4MTQxNzE2OH0.L6IdWdrDrv-NzIg5ymVFiy7tXjs7Qmjp5nt9hac23HM
